{% extends 'base.html' %}

{% block body %}
<div>
    <div class="d-flex justify-content-between align-items-center">
    <h1>Clientes</h1>
    <a href="{% url 'agregar_clientes'%}"  class="btn btn-success btn-sm">Agregar</a> 
</div>
    <h1>Clientes</h1>
    <table class="table  table-striped">
        <tr>
            <th>Clientes</th>
            <th></th>
        </tr>
        {% for cliente in clientes %}
        <tr>
            <td>{{cliente.name}}</td>
            <td>
                <div>
                    <div class="gap-2 d-flex justify-content-end">
                    <a href="{% url 'actualizar_cliente' cliente.uuid %}" class="btn btn-warning btn-sm">Modificar</a>
                    <a href="" class="btn btn-danger btn-sm">Eliminar</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %} 